*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: white;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #34075296;
}

h1 {
    font-size: 3rem;
}

.pesquisar input {
    height: 100px;
    width: 800px;
    border-radius: 24px;
    font-size: 2rem;
    text-align: center;
}

.pesquisar button {
    height: 100px;
    width: 300px;
    border-radius: 24px;
    font-size: 2rem;
}

main {
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 24px;
    gap: 24px;
    background-color: hsl(0, 0%, 0%);
}

.dogImg {
    height: 400px;
    width: 400px;
    border-radius: 12px;
    box-shadow: rgb(255, 255, 255) 0 1px 10px;
}